@mixin ball-color {
    background: rgb(234,128,128);
    background: linear-gradient(180deg, rgba(234,128,128,1) 0%, rgba(251,1,1,1) 40%, rgba(0,0,0,1) 40%, rgba(0,0,0,1) 60%, rgba(255,255,255,1) 60%, rgba(212,212,212,1) 100%);
}

.box{
    position: relative;
    width: 400px;
    height: 400px;
    margin: auto;
    top: 20vh;
    overflow: visible;
}
.ball{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    @include ball-color();
    overflow: hidden;
    -webkit-box-shadow: 58px 57px 8px -32px rgba(0,0,0,0.22);
    -moz-box-shadow: 58px 57px 8px -32px rgba(0,0,0,0.22);
    box-shadow: 58px 57px 8px -32px rgba(0,0,0,0.22);
}

.button{
    position: absolute;
    top: 30%;
    left: 28%;
    width: 30%;
    display: block;
    height: 30%;
    border-radius: 50%;
    border: 15px solid black;
    background-color: white;
    animation: buttons 10s infinite linear;
}
    .button :after{
        position: absolute;
        content: "";
        width: 75%;
        height: 75%;
        border-radius: 50%;
        border: 3px solid black;
        top: 11%;
        left: 11%;
    }


.glow{
    position: absolute;
    width: 20%;
    height: 10%;
    top: 10%;
    left: 15%;
    background-color: white;
    border-radius: 100px / 50px;
    transform: rotate(-30deg);
}

@keyframes buttons{
    0%{
        left: 28%;
        width: 30%;
    }
    10%{
        top: 32%;
        width: 25%;
    }

    15%{
        width: 20%;
        height: 25%;
    }
    20%{
        width: 15%;
    }
    25%{
        left: 100%;
    }
    50%{
        z-index: -1;
    }
    75%{
        left: -20%;
    }
    80%{
        width: 15%;
    }
    85%{
        width: 20%;
        height: 25%;
    }
    90%{
        top: 32%;
        width: 25%;
    }
}